Flask==1.1.2
Bootstrap_Flask==1.5.1
Flask_WTF==0.14.3
Jinja2==2.11.3
WTForms==2.3.3
email_validator==1.1.2
Flask_Babel==2.0.0
Babel==2.9.0
Werkzeug==1.0.1
itsdangerous==1.1.0
psycopg2-binary==2.8.6
celery[redis]==5.0.5
ufal.nametag==1.1.2.1
pytest==6.2.2