@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.non-selectable-ui {
    user-select: none;
}

.token:hover, .load-ui:hover {
    background-color:rgb(255, 253, 163, 0.5);
    cursor:pointer;
}

.candidate {
    font-weight: bold;
    border-bottom: 1px dotted;
    margin-bottom: 1px;
    display: inline-block;
}

.candidate:hover {
    background-color:rgb(255, 253, 163, 0.5);
    cursor:pointer;
    border-bottom: 1px solid;
}

.candidate-public {
    background-color:rgb(81, 228, 62, 0.5);
}

.candidate-label {
    background-color:rgba(255, 170, 11, 0.5);
}

.candidate-secret {
    background-color:rgba(240, 80, 80, 0.5);
}

.highlight, .highlight .candidate-secret, .highlight .candidate-public, .highlight .candidate-label{
    background-color:rgb(255, 253, 163);
}

span.fadeout {
    background: linear-gradient(90deg, #000, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: not-allowed;
}

.annotation-ui {
    position: sticky;
    top: 0;
    align-self: flex-start; 
}