@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.ne {
    background-color:rgb(255, 253, 163,0.5);
}

.ne-candidate {
    background-color:rgb(222, 206, 135);
    text-decoration: underline;
}

.ne:hover {
    background-color:rgb(222, 206, 135);
    cursor:pointer;
}