{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block styles %}
{{ super() }}

<link href="//unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block title %}{% trans %}Rule{% endtrans %}{% endblock %}

{% block content %}
<div class="d-flex align-items-center">
    <h2 class="mr-auto">
        {% trans %}Rules{% endtrans %}
    </h2>
    <a class="btn btn-outline-primary mr-3" href="{{ url_for('rule.upload') }}">
        {{ render_icon("upload") }}{% trans %}Import{% endtrans %}
    </a>
    <a class="btn btn-outline-primary" href="{{ url_for('rule.export') }}">
        {{ render_icon("download") }}{% trans %}Export{% endtrans %}
    </a>
</div>

<table id="table" data-toggle="table" data-ajax="ajaxRequest" data-search="true" data-pagination="true">
    <thead>
        <tr>
            <th data-field="id">{% trans %}ID{% endtrans %}</th>
            <th data-field="type">{% trans %}Type{% endtrans %}</th>
            <th data-field="condition" data-formatter="conditionFormatter">{% trans %}Condition{% endtrans %}</th>
            <th data-field="decision" data-formatter="decisionFormatter">{% trans %}Decision{% endtrans %}</th>
            <th data-field="operate" data-formatter="actionFormatter" data-align="center">{% trans %}Actions{% endtrans
                %}</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="//unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="//unpkg.com/bootstrap-table@1.18.2/dist/locale/bootstrap-table-cs-CZ.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='consts.js') }}"></script>

<script>
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
            }
        }
    });

    function ajaxRequest(params) {
        var url = '/rule/data'
        $.get(url + '?' + $.param(params.data)).then(function (res) {
            params.success(res)
        })
    }

    function actionFormatter(value, row, index) {
        return [
            '<button class="btn btn-outline-danger" onclick="remove(' + row.id + ')" title="Remove">',
            '{% trans %}Remove{% endtrans %}',
            '</button>'
        ].join('')
    }

    function conditionFormatter(value, row, index) {
        if (value.startsWith("NE_TYPE:")) {
            ne_value = value.slice(8);
            if (NE_CODES[ne_value])
                return NE_CODES[ne_value];
            else
                return ne_value;
        }
        return value;
    }

    function decisionFormatter(value, row, index) {
        if (value < 0) {
            return "{{ _('Secret') }} (" + value + ")";
        } else if (value > 0) {

            return "{{ _('Public') }} (" + value + ")";
        } else {
            return "{{ _('Candidate') }}";
        }
    }

    var $table = $('#table')

    function remove(row_id) {
        $.ajax({
            type: "POST", url: "/rule/remove/" + row_id, success: function (result) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row_id]
                })
            }
        });
    }
</script>
{% endblock %}