{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block title %}{% trans %}Submissions{% endtrans %}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-4">
            {% trans %}Pseudomize submissions{% endtrans %}
        </h2>
        <a class="btn btn-outline-primary" href="{{ url_for("submission.new") }}">{{ render_icon("upload") }}{% trans %}New submission{% endtrans %}</a>
    </div>

    <div class="card-columns">
        {%for submission in submissions %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ submission["name"] | escape }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ submission["uid"] }}</h6>
                    <div class="card-text">
                        {% if submission["status"]==SubmissionStatus.NEW.value %}
                            {% trans %}Parsing... {% endtrans %}
                        {% elif submission["status"]==SubmissionStatus.RECOGNIZED.value %}
                            {{ (submission["decided"] / submission["candidates"]) | round(2) }} % annotated <small> ({{ submission["decided"] }} / {{ submission["candidates"] }}) </small>
                        {% endif %}
                    </div>
                    <form method="post" action="{{ url_for("submission.remove") }}">
                        {{ remove_form.csrf_token }}
                        {{ remove_form.uid(value=submission["uid"]) }}
                        <div class="d-flex">
                            <button type="submit" name="submit" class="btn btn-outline-danger ml-auto">{{ render_icon("trash") }}</button>
                        </div>
                    </form> 
                </div>
            </div>
        {% endfor %}
        {% if not submissions %}
            <div class="text-muted">
                {% trans %}No data found...{% endtrans %}
            </div>
        {% endif %}
    </div>
{% endblock %}