{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>{% trans %}Create a new account{% endtrans %}</h2>
            {% trans %}
            <p>
                There are two types of accounts. An administrator can upload a file for 
                processing and then download the results when the annotations are 
                done. Standard users have only permission to annotate documents within 
                the annotation window.
            </p><p>
                A new user should reset his password using the password reset link, but you 
                can also send him his (randomly generated) password using an encrypted message.
            </p>
            {% endtrans %}
        </div>
        <div class="col-md-6">
            {{ render_form(form, button_map={'submit': 'primary'}) }}
        </div>
    </div>
{% endblock %}
