{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block title %}{% trans %}Annotatation interface{% endtrans %}{% endblock %}

{% block content %}
    <div class="d-flex">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <h2 class="mb-4">
                    {% trans %}Annotatation interface{% endtrans %}
                </h2>
                {{ context_html | safe }}
            </div>

            {# Annotation UI #}
            <div class="col-12 col-lg-4 col-xl-3">
                <form method="POST" action="{{ url_for(".set")}}">
                    {{ form.csrf_token }}
                    {{ form.submission_uid(value=submission_uid) }}
                    {{ form.ne_id(value=name_entity_id) }}
                    
                    {# Lemma #}
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ render_icon("vr", size="1.5em") }}{% trans %}By lemma{% endtrans %}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">John Black</h6>
                            <div class="card-text d-flex justify-content-around">
                                <button type="submit" name="lemma_public" class="btn btn-outline-success my-2" value="True">
                                    {{ render_icon("globe", size="1.5em") }}{% trans %}Public{% endtrans %}
                                </button>
                                <button type="submit" name="lemma_secret" class="btn btn-outline-danger my-2" value="True">
                                    {{ render_icon("lock", size="1.5em") }}{% trans %}Secret{% endtrans %}
                                </button>
                            </div>
                        </div>
                    </div>

                    {# Context #}
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ render_icon("text-paragraph", size="1.5em") }}{% trans %}By context{% endtrans %}
                            </h5>
                            <div class="card-text d-flex justify-content-around">
                                <button type="submit" name="ctx_public" class="btn btn-outline-success my-2" value="True">
                                    {{ render_icon("globe", size="1.5em") }}{% trans %}Public{% endtrans %}
                                </button>
                                <button type="submit" name="ctx_secret" class="btn btn-outline-danger my-2" value="True">
                                    {{ render_icon("lock", size="1.5em") }}{% trans %}Secret{% endtrans %}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    {# Category #}
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ render_icon("tag", size="1.5em") }}{% trans %}By category{% endtrans %}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ type }}</h6>
                            <div class="card-text d-flex justify-content-around">
                                <button type="submit" name="category_public" class="btn btn-outline-success my-2" value="True">
                                    {{ render_icon("globe", size="1.5em") }}{% trans %}Public{% endtrans %}
                                </button>
                                <button type="submit" name="category_secret" class="btn btn-outline-danger my-2" value="True">
                                    {{ render_icon("lock", size="1.5em") }}{% trans %}Secret{% endtrans %}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

     <script>
        function showNameEntryId(event, doc_uid, ne_id) {
            event.stopPropagation();
            window.location =  "{{ url_for(".show") }}?doc_uid="+doc_uid+"&ne_id="+ne_id;
        }       
    </script> 
{% endblock %}