{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block title %}{% trans %}Annotatation interface{% endtrans %}{% endblock %}

{% block content %}
    <div class="d-flex">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <h2 class="mb-4">
                    {% trans %}Annotation interface{% endtrans %}
                </h2>
                <div id="annotation-window">
                    {% trans %}Loading...{% endtrans %}
                </div>
            </div>

            {# Annotation UI #}
            <div class="col-12 col-lg-4 col-xl-3">
                <form method="POST" action="{{ url_for(".set")}}">
                    {{ form.csrf_token }}
                    {{ form.submission_id(value=submission_id) }}
                    {{ form.ref_start(value=ref_start) }}
                    {{ form.ref_end(value=ref_end) }}
                    {{ form.condition(value=token_code) }}
                    {{ form.ne_type(value=ne_type_code) }}
                    
                    {# Lemma #}
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ render_icon("vr", size="1.5em") }}{% trans %}By lemma{% endtrans %}
                            </h5>
                            <h6 id="lemma" class="card-subtitle mb-2 text-muted">{% trans %}Loading...{% endtrans %}</h6>
                            <div class="card-text d-flex justify-content-around">
                                <button type="submit" name="lemma_public" class="btn btn-outline-success my-2" value="True">
                                    {{ render_icon("globe", size="1.5em") }}{% trans %}Public{% endtrans %}
                                </button>
                                <button type="submit" name="lemma_secret" class="btn btn-outline-danger my-2" value="True">
                                    {{ render_icon("lock", size="1.5em") }}{% trans %}Secret{% endtrans %}
                                </button>
                            </div>
                        </div>
                    </div>

                    {# Context #}
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ render_icon("text-paragraph", size="1.5em") }}{% trans %}By context{% endtrans %}
                            </h5>
                            <div class="card-text d-flex justify-content-around">
                                <button type="submit" name="ctx_public" class="btn btn-outline-success my-2" value="True">
                                    {{ render_icon("globe", size="1.5em") }}{% trans %}Public{% endtrans %}
                                </button>
                                <button type="submit" name="ctx_secret" class="btn btn-outline-danger my-2" value="True">
                                    {{ render_icon("lock", size="1.5em") }}{% trans %}Secret{% endtrans %}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    {# Category #}
                    {% if ne_type_code %}
                        <div class="card my-2">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ render_icon("tag", size="1.5em") }}{% trans %}By category{% endtrans %}
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ ne_type_str }}</h6>
                                <div class="card-text d-flex justify-content-around">
                                    <button type="submit" name="ne_type_public" class="btn btn-outline-success my-2" value="True">
                                        {{ render_icon("globe", size="1.5em") }}{% trans %}Public{% endtrans %}
                                    </button>
                                    <button type="submit" name="ne_type_secret" class="btn btn-outline-danger my-2" value="True">
                                        {{ render_icon("lock", size="1.5em") }}{% trans %}Secret{% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

     <script>
        var highlight_start = null
        var highlight_end = null

        function selectInterval(start, end) {    
            // Select token objects including last one and spaces between them
            matched = $.map($("#token-"+start), function (elem, i) {
                list = [];
                do {
                    if (elem.nodeType === Node.ELEMENT_NODE || elem.nodeType === Node.TEXT_NODE) {
                        list.push(elem);
                        if (jQuery(elem).is("#token-"+end)) {
                            break;
                        }
                    }
                } while ((elem = elem.nextSibling) && elem.nodeType !== Node.DOCUMENT_NODE);
                return list;
            });

            return $("#token-"+start).pushStack(matched).addBack()
        }

        function showAnnotation(event, ref_start, ref_end) {
            event.stopPropagation();
            // Discard previous highlightion
            if (highlight_start) {
                selection = selectInterval(highlight_start, highlight_end);
                selection.unwrap();
            }
            // Highlight new interval
            selection = selectInterval(ref_start, ref_end)
            selection.wrapAll('<span class="highlight" />')
            // Update inner state
            highlight_start = ref_start;
            highlight_end = ref_end;
            // Update form data
            $("#ref_start").val(ref_start)
            $("#ref_end").val(ref_end)
            // Tokens
            token_list = []
            selection.children().addBack().filter(".token").each(function() {
                token_list.push($(this).text())
            });
            $("#condition").val(JSON.stringify(token_list))
            // Update UI
            $("#lemma").html(selection.text())
        }

        function onTokenClick(event, token_id) {
            // Extend interval with shift key
            if (event.shiftKey) {
                if(token_id < highlight_start) {
                    showAnnotation(event, token_id, highlight_end);
                } else {
                    showAnnotation(event, highlight_start, token_id);
                }
            } else {
                showAnnotation(event, token_id, token_id);
            }
        }

        function onTokenIntervalClick(event, start_token_id, end_token_id) {
            // Extend interval with shift key
            if (event.shiftKey) {
                if(end_token_id < highlight_start) {
                    showAnnotation(event, start_token_id, highlight_end);
                } else {
                    showAnnotation(event, highlight_start, end_token_id);
                }
            } else {
                showAnnotation(event, start_token_id, end_token_id);
            }
        }

        // Load text to annotation window
        $.ajax({
            type: "GET",
            url: "{{ url_for("annotate.window", doc_id=submission_id, start=win_start, end=win_end) | safe }}",               
            cache: true,
            success: function(response) {
                $("#annotation-window").html(response);
            }
        });
    </script> 
{% endblock %}